*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  text-decoration: none;
  
}
.container{
  max-width: 100%;
  margin: auto;
}

body {
  font-family: "Roboto", sans-serif;
 
}
/*header styling*/
nav{
  background-color: #FFFFFF;
  padding: 16px 120px;
 
  
}
.navlogo{
  margin: 16px 0;
}
.navdiv{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navul ul li{
    list-style-type: none;
    display: inline-block;
    
   
}
.navul ul li a {
   font-weight: medium ;
   font-size: 16px;
   margin-right: 32px;
   color: #000000 ;
}
.navbtn a{
  color: #FFFFFF;
  padding: 12px 16px;
  background-color: #30B868;
  font-weight: 600;
  font-size: 16px;
  border-radius: 5px;
  width: 164px;
  height: 44px;
}
.hero-section .hero-image{
  background-image: url("../assets/hero-bg.png");
  width: 100%;
  height: 674px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-image .hero-text{
  color: #FFFFFF;
  text-align: center;
}
.hero-text h1{
  font-size: 72px;
  line-height: 84px;
}
.hero-text .green{
  color:#30B868;
  margin-bottom: 16px;
}
.hero-text p{
  line-height: 24px;
  font-size: 18px;
}
.upbtn {
  margin-bottom: 16px;
  padding: 8px 12px;
  font-size: 16px;
  font-weight: 500;
   border-radius: 25px;
 
}
.downbtn{
  margin-top: 32px;
  display: inline-block;
  padding: 12px 16px;
  border-radius: 4px;
 
  
}
.upbtn a{
   color: #30B868;
  
}
.downbtn .dgreen {
  color:#30B868;
}
/*notes styling*/
.notes-section{
  margin-bottom: 60px;
}
.notes-title{
  color: var(--#627382, rgba(98, 115, 130, 1));
  margin-bottom: 16px;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  padding-top: 50px;
  
}
.notes-title-p{
 color: var(--#627382, rgba(98, 115, 130, 1));
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 44px;
}
.notes-card-p{
  color: var(--#627382, rgba(98, 115, 130, 1));
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 22px;
  text-align: center;
}
.notes-card-h2{
  margin-bottom: 16px;
  color: var(--#001931, var(--Color, rgba(0, 25, 49, 1)));
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  
 
}
.vector{
  width: 32px;
  height: 32px;
  object-fit: contain;
  
}
.notes-card{
  display: flex;
  flex-direction: column;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 255, 255, 1);
  align-items: center;
 
}
.notes-card-parent{
  display: flex;
  gap: 24px;
}
.card-img-parent{
   width: 60px;    
  height: 60px;
  border-radius:50%;
   display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(249, 85, 85, 1);
  margin-bottom: 16px;
  margin-top: 70px;
  
}
/*brain section styling*/
.brain-card img{
  width: 600px;
  height: 600px;
  border-radius: 12px;
}
.brain-card-left{
  display: flex;
  flex-direction: column;
}
.brain-card-message{
  color: #30B868;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 102px;
}
.brain-card-title{
  color: var(--#001931, var(--Color, rgba(0, 25, 49, 1)));
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  margin-bottom: 16px;
}
.brain-card-desc{
  color: var(--#627382, rgba(98, 115, 130, 1));
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 40px;
}
.brain-card-list li{
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
  list-style-type: none;
}
.brain-card-list li .CheckCircle{
  width: 20px;
  height: 20px;
  margin-right: 6px;
  
}
.brain-card-list{
  margin-bottom: 102px;
}
.brain-card{
  display: flex;
  gap: 60px;
  align-items: center;
}
.brain-section{
  margin-top: 60px;
  margin-bottom: 120px;

}
/*ready styling*/
.ready-section{
  padding: 80px 40px 80px 40px;
  border-radius: 12px;
  background: rgba(247, 246, 242, 1);
  text-align: center;
  margin-bottom: 120px;
}
.ready-title{
  color: var(--Style, rgba(0, 25, 49, 1));
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 16px;
}
.ready-subtitle{
  color: var(--#627382, rgba(98, 115, 130, 1));
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 24px;
}
.ready-btn{
  padding: 12px 16px 12px 16px;
  border-radius: 4px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
  background: #30B868;
  color: white;
  width: 194px;
  height: 52px;
  border: none;
  margin-bottom: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.ready-btn .arrow{
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ready-message{
  color: var(--#627382, rgba(98, 115, 130, 1));
  font-size: 16px;
  font-weight: 400;
}
footer{
  padding: 120px 120px 30px 120px;
  background: var(--Style, rgba(0, 25, 49, 1));
}
.footer-flex{
  display: flex;
  justify-content: space-between;
}
.footer-title{
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 16px;
}
.icon-style-footer{
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 1);
  gap: 16px;
  border-radius: 50%;
}
hr{
  background-color: rgba(250, 250, 250, 1);
  margin-top: 80px;
}
.footer-p{
  margin-top: 30px;
  font-size: 16px;
  font-weight: 400;
  color: rgba(250, 250, 250, 1);
  text-align: center;
}