*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  text-decoration: none;
  border: none;
  
}
.container{
  max-width: 100%;
  margin: 0 auto;
}

body {
  font-family: "Roboto", sans-serif;
 
}
/*header styling*/
nav{
  background-color: #FFFFFF;
  padding: 16px 120px;
 
  
}
.navlogo{
  margin: 16px 0;
}
.navdiv{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navul ul li{
    list-style-type: none;
    display: inline-block;
    
   
}
.navul ul li a {
   font-weight: medium ;
   font-size: 16px;
   margin-right: 32px;
   color: #000000 ;
}
.navbtn a{
  color: #FFFFFF;
  padding: 12px 16px;
  background-color: #30B868;
  font-weight: 600;
  font-size: 16px;
  border-radius: 5px;
  width: 164px;
  height: 44px;
}
.hero-section .hero-image{
  background-image: url("../assets/hero-bg.png");
  width: 100%;
  height: 674px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-image .hero-text{
  color: #FFFFFF;
  text-align: center;
}
.hero-text h1{
  font-size: 72px;
  line-height: 84px;
}
.hero-text .green{
  color:#30B868;
  margin-bottom: 16px;
}
.hero-text p{
  line-height: 24px;
  font-size: 18px;
}
.upbtn {
  margin-bottom: 16px;
  padding: 8px 12px;
  font-size: 16px;
  font-weight: 500;
   border-radius: 25px;
 
}
.downbtn{
  margin-top: 32px;
  display: inline-block;
  padding: 12px 16px;
  border-radius: 4px;
 
  
}
.upbtn a{
   color: #30B868;
  
}
.downbtn .dgreen {
  color:#30B868;
}
/*notes styling*/
.notes-section{
  margin-bottom: 120px;
}
.notes-title{
  color: var(--#001931, var(--Color, rgba(0, 25, 49, 1)));
  margin-bottom: 16px;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  
}
.notes-title-p{
 color: var(--#627382, rgba(98, 115, 130, 1));
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 44px;
}
